In [1]:
import polars as pl
import yfinance as yf

In [2]:
data = yf.download('BTC-USD', period='6mo', interval='1d')

print(data)

C:\Users\GIULIANO\AppData\Local\Temp\ipykernel_17428\1503339739.py:1: FutureWarning: YF.download() has changed argument auto_adjust default to True
  data = yf.download('BTC-USD', period='6mo', interval='1d')
[*********************100%***********************]  1 of 1 completed

Price               Close           High            Low           Open  \
Ticker            BTC-USD        BTC-USD        BTC-USD        BTC-USD
Date
2025-05-05   94748.054688   95193.187500   93566.265625   94319.562500
2025-05-06   96802.476562   96889.179688   93399.859375   94748.382812
2025-05-07   97032.320312   97625.804688   95829.335938   96800.195312
2025-05-08  103241.460938  103969.539062   96913.875000   97034.250000
2025-05-09  102970.851562  104297.492188  102343.093750  103239.125000
...                   ...            ...            ...            ...
2025-11-01  110064.015625  110574.898438  109372.953125  109558.625000
2025-11-02  110639.625000  111167.312500  109523.453125  110064.429688
2025-11-03  106547.523438  110764.914062  105336.359375  110646.906250
2025-11-04  101590.523438  107264.882812   98962.062500  106541.421875
2025-11-05  104150.453125  104526.171875   99008.890625  101517.085938

Price             Volume
Ticker           BTC-USD
Date
2025-05-05   25816260327
2025-05-06   26551275827
2025-05-07   76983822462
2025-05-08   69895404397
2025-05-09   58198593958
...                  ...
2025-11-01   25871668762
2025-11-02   34284209459
2025-11-03   72852006359
2025-11-04  110967184773
2025-11-05   91978022912

[185 rows x 5 columns]

In [3]:
data = data.reset_index()

data

Price,Date,Close,High,Low,Open,Volume
Ticker,,BTC-USD,BTC-USD,BTC-USD,BTC-USD,BTC-USD
0,2025-05-05,94748.054688,95193.187500,93566.265625,94319.562500,25816260327
1,2025-05-06,96802.476562,96889.179688,93399.859375,94748.382812,26551275827
2,2025-05-07,97032.320312,97625.804688,95829.335938,96800.195312,76983822462
3,2025-05-08,103241.460938,103969.539062,96913.875000,97034.250000,69895404397
4,2025-05-09,102970.851562,104297.492188,102343.093750,103239.125000,58198593958
...,...,...,...,...,...,...
180,2025-11-01,110064.015625,110574.898438,109372.953125,109558.625000,25871668762
181,2025-11-02,110639.625000,111167.312500,109523.453125,110064.429688,34284209459
182,2025-11-03,106547.523438,110764.914062,105336.359375,110646.906250,72852006359
183,2025-11-04,101590.523438,107264.882812,98962.062500,106541.421875,110967184773
184,2025-11-05,104150.453125,104526.171875,99008.890625,101517.085938,91978022912

In [4]:
def flatten_col(col):
    # col pode ser string ou tuple
    if isinstance(col, tuple):
        parts = [str(x).strip() for x in col if x is not None and str(x).strip() != ""]
    else:
        parts = [str(col).strip()]
    return "_".join(parts).lower()

In [5]:
data.columns = [flatten_col(c) for c in data.columns]

data

,date,close_btc-usd,high_btc-usd,low_btc-usd,open_btc-usd,volume_btc-usd
0,2025-05-05,94748.054688,95193.187500,93566.265625,94319.562500,25816260327
1,2025-05-06,96802.476562,96889.179688,93399.859375,94748.382812,26551275827
2,2025-05-07,97032.320312,97625.804688,95829.335938,96800.195312,76983822462
3,2025-05-08,103241.460938,103969.539062,96913.875000,97034.250000,69895404397
4,2025-05-09,102970.851562,104297.492188,102343.093750,103239.125000,58198593958
...,...,...,...,...,...,...
180,2025-11-01,110064.015625,110574.898438,109372.953125,109558.625000,25871668762
181,2025-11-02,110639.625000,111167.312500,109523.453125,110064.429688,34284209459
182,2025-11-03,106547.523438,110764.914062,105336.359375,110646.906250,72852006359
183,2025-11-04,101590.523438,107264.882812,98962.062500,106541.421875,110967184773
184,2025-11-05,104150.453125,104526.171875,99008.890625,101517.085938,91978022912

In [6]:
df = pl.from_pandas(data)

df

shape: (185, 6)
┌──────────────┬───────────────┬───────────────┬───────────────┬───────────────┬────────────────┐
│ date         ┆ close_btc-usd ┆ high_btc-usd  ┆ low_btc-usd   ┆ open_btc-usd  ┆ volume_btc-usd │
│ ---          ┆ ---           ┆ ---           ┆ ---           ┆ ---           ┆ ---            │
│ datetime[ns] ┆ f64           ┆ f64           ┆ f64           ┆ f64           ┆ i64            │
╞══════════════╪═══════════════╪═══════════════╪═══════════════╪═══════════════╪════════════════╡
│ 2025-05-05   ┆ 94748.054688  ┆ 95193.1875    ┆ 93566.265625  ┆ 94319.5625    ┆ 25816260327    │
│ 00:00:00     ┆               ┆               ┆               ┆               ┆                │
│ 2025-05-06   ┆ 96802.476562  ┆ 96889.179688  ┆ 93399.859375  ┆ 94748.382812  ┆ 26551275827    │
│ 00:00:00     ┆               ┆               ┆               ┆               ┆                │
│ 2025-05-07   ┆ 97032.320312  ┆ 97625.804688  ┆ 95829.335938  ┆ 96800.195312  ┆ 76983822462    │
│ 00:00:00     ┆               ┆               ┆               ┆               ┆                │
│ 2025-05-08   ┆ 103241.460938 ┆ 103969.539062 ┆ 96913.875     ┆ 97034.25      ┆ 69895404397    │
│ 00:00:00     ┆               ┆               ┆               ┆               ┆                │
│ 2025-05-09   ┆ 102970.851562 ┆ 104297.492188 ┆ 102343.09375  ┆ 103239.125    ┆ 58198593958    │
│ 00:00:00     ┆               ┆               ┆               ┆               ┆                │
│ …            ┆ …             ┆ …             ┆ …             ┆ …             ┆ …              │
│ 2025-11-01   ┆ 110064.015625 ┆ 110574.898438 ┆ 109372.953125 ┆ 109558.625    ┆ 25871668762    │
│ 00:00:00     ┆               ┆               ┆               ┆               ┆                │
│ 2025-11-02   ┆ 110639.625    ┆ 111167.3125   ┆ 109523.453125 ┆ 110064.429688 ┆ 34284209459    │
│ 00:00:00     ┆               ┆               ┆               ┆               ┆                │
│ 2025-11-03   ┆ 106547.523438 ┆ 110764.914062 ┆ 105336.359375 ┆ 110646.90625  ┆ 72852006359    │
│ 00:00:00     ┆               ┆               ┆               ┆               ┆                │
│ 2025-11-04   ┆ 101590.523438 ┆ 107264.882812 ┆ 98962.0625    ┆ 106541.421875 ┆ 110967184773   │
│ 00:00:00     ┆               ┆               ┆               ┆               ┆                │
│ 2025-11-05   ┆ 104150.453125 ┆ 104526.171875 ┆ 99008.890625  ┆ 101517.085938 ┆ 91978022912    │
│ 00:00:00     ┆               ┆               ┆               ┆               ┆                │
└──────────────┴───────────────┴───────────────┴───────────────┴───────────────┴────────────────┘

In [7]:
mapeamento = {}
for col in df.columns:
    new_name = col.split('_')[0]
    mapeamento[col] = new_name

mapeamento

{'date': 'date',
 'close_btc-usd': 'close',
 'high_btc-usd': 'high',
 'low_btc-usd': 'low',
 'open_btc-usd': 'open',
 'volume_btc-usd': 'volume'}

In [ ]:
schema_rename = {
    'close_btc-usd':'close',
    'high_btc-usd':'high',
    'low_btc-usd':'low',
    'open_btc-usd':'open',
    'volume_btc-usd':'volume'
}

df = df.rename(schema_rename)
df = df.with_columns(pl.lit('BTC-USD').alias('symbol'))
df = df.select(
    pl.col('date'),
    pl.col('symbol'),
    pl.col('open'),
    pl.col('high'),
    pl.col('low'),
    pl.col('close'),
    pl.col('volume')
).sort('date', descending=True)


df

In [ ]:
df = df.filter(pl.col('close').is_not_null())
df = df.with_columns(
    pl.col('date').dt.replace_time_zone('UTC').dt.convert_time_zone('America/Sao_Paulo')
)

df